###Handling Imbalanced Dataset


##Up sampling & Down Sampling

In [1]:
import numpy as np
import pandas as pd

#Set the random seed for reproducibility
np.random.seed(123)

#Create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [4]:
#CREATE DATAFRAME WITH IMBALANCED DATASET 
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [6]:
df=pd.concat([class_0,class_1]).reset_index(drop=1)

In [7]:
df.tail()

     feature_1  feature_2  target
995   0.677156  -0.907952       1
996   0.963404  -1.818045       1
997  -0.378524  -0.122733       1
998   1.429559   1.794486       1
999   1.532273  -0.320510       1

In [8]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [9]:
## Up Sampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [10]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample with replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [11]:
df_minority_upsampled.shape

(900, 3)

In [12]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   0.905343  -0.504849       1
992   0.000977  -0.185167       1
914  -0.072043   0.280911       1
971   0.819483   0.964646       1
960   0.456515  -0.166472       1

In [13]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [14]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

###DOWN SAMPLING

In [15]:
class_0=pd.DataFrame({
    'feature_3':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_4':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_3':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_4':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [16]:
class_1['target'].value_counts()

1    100
Name: target, dtype: int64

In [17]:
df=pd.concat([class_0,class_1]).reset_index(drop=1)

In [18]:
df.tail()

     feature_3  feature_4  target
995   0.720690  -0.021511       1
996  -0.050922   1.709793       1
997   0.709784   1.324917       1
998  -0.182311  -0.450763       1
999   0.838910   0.240773       1

In [19]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [21]:
df_majority=df[df['target']==0]
df_minority=df[df['target']==1]

In [22]:
#Down Sampling
df_majority_downsampled=resample(df_majority,replace=False,
         n_samples=len(df_minority),
         random_state=43)

In [23]:
df_majority_downsampled.head()

     feature_3  feature_4  target
357   1.392899   1.432519       0
276   0.895334  -0.044235       0
830   2.371879   0.096360       0
433   2.789487  -0.090476       0
895  -0.229982  -1.433189       0

In [24]:
df_majority_downsampled.shape

(100, 3)

In [25]:
df_downsampled=pd.concat([df_majority_downsampled,df_minority]).reset_index(drop=1)

In [26]:
df_downsampled['target'].value_counts()

0    100
1    100
Name: target, dtype: int64

In [27]:
###Down sampling is bad compared to Up sampling as numbers are reduced

In [28]:
##In this normal upsampling, the new set of numbers get  created on top of the previous numbers only...at same position..so variance doesn't change.

In [29]:
#resample basically resamples the numbers at same location...so duplicate values might be there