In [8]:
#gives an unique numerical value for all the categoriocal data
#takes numerical value from 0 to n-1

In [3]:
##Create a simple dataframe
import pandas as pd
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']})

In [9]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
label=LabelEncoder()

In [7]:
label.fit_transform(df[['color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [10]:
label.transform([['red']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [11]:
label.transform([['blue']])

array([0])

In [12]:
label.transform([['green']])

array([1])

In [14]:
#Here, since Red is given 2, blue 0 and green 1...my model may think Red is superior to blue and green
#but this should normally not be the case

###ORDINAL ENCODING

In [16]:
##Ranks are important in the catgorical data
##Like say foer education level, high school=1, college=2, graduate=3, post-graduate=4...here 4>1,2,3

In [17]:
## Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

In [18]:
#Create a sample dataframe with ordinal variable
df=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']})

In [19]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [23]:
##Create an instance of ordinal encoder and then fit_transform
encoder=OrdinalEncoder(categories=[['small','medium','large']])
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [24]:
encoder.transform([['small']])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])